
  body {
    font: 10px sans-serif;
    background-color: lightgray;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

p.start_message{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  margin-top: 25%;
  font-size: 5vw;
  color: black;
  text-align: center;
}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    color: white;
    font-family: sans-serif;
    font-size: 11px;
}

  .x.axis path {
    display: none;
  }

  .area.above {
    fill: rgb(145,207,96);
    opacity: 0.5;
  }

  .area.below {
    fill: rgb(252,141,89);
    opacity: 0.5;
  }

  .line {
    fill: none;
    stroke: white;
    stroke-width: 1.5px;
  }

  .est.line{
    opacity: 1;
  }

  .progressLine {
    fill: none;
    stroke: gray;
    stroke-width: 1.75px;
  }

  .limit.line{
    fill: none;
    stroke-width: 2px;
    stroke-dasharray:3,3;
    stroke: red; 
  }

  .limit.avg.line{
    stroke-width: 2px;
    stroke: gray;
  }

  .limit.curr.line{
    stroke-width: 2px;
    stroke: orange;
    stroke-dasharray:10,10;
    
  }

  .bullet { font: 10px sans-serif; }
  .bullet .marker { stroke: #000; stroke-width: 2px; }
  .bullet .tick line { stroke: #666; stroke-width: .5px; }
  .bullet .range.s0 { fill: #ff0000; }
  .bullet .range.s1 { fill: #eeee00; }
  .bullet .range.s2 { fill: #00cc00; }
  .bullet .measure.s0 { fill: lightgrey; }
  .bullet .measure.s1 { fill: black; }
  .bullet .measure.s2 { fill: cyan; }
  .bullet .measure.s3 { fill: magenta; }
  .bullet .measure.s4 { fill: purple; }
  .bullet .title { font-size: 14px; font-weight: bold; }
  .bullet .subtitle { fill: #999; }
  
  .current { font: 10px sans-serif; }
  .current .marker { stroke: #000; stroke-width: 2px; }
  .current .tick line { stroke: #666; stroke-width: .5px; }
  .current .range.s0 { fill: #ff0000; }
  .current .range.s1 { fill: #eeee00; }
  .current .range.s2 { fill: #00cc00; }

  .current .measure.s0 { fill: #98BDFC; }
  .current .measure.s1 { fill: #6BA1FC; }
  .current .measure.s2 { fill: #4488FC; }
  .current .measure.s4 { fill: #075EF1; }
  .current .measure.s3 { fill: #1A6DF9; }

  .current .title { font-size: 14px; font-weight: bold; }
  .current .subtitle { fill: #999; }  
  

